@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
   
color: white;
background-color: #ee0e29;
}

main{
    text-align: center;
}

main img{
    width: 150px;
}

.container{
    padding: 0 30%;
}

input, textarea{
    margin-bottom: 15px;
}

select{
    margin: 0px auto 15px;
}

fieldset{
    margin-top: 20px;
}

button{
    padding: 5px;
    margin-top: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

